
@font-face {
  font-family: codingrideRegular;
  src: url('../webfonts/SourceCodeVariable-Roman.ttf');
}
body, p, h1, h2, h3, h4, h5, h6, .content, .title, .label {
  font-family: codingrideRegular, sans-serif;
}

h1, h2, h3, h4, h5, h6, .title, .label {
  font-weight: 700;
}

html {
  background-color: whitesmoke;
}

.boxRide {
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.15), 0 0 0 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0px 0px 20px 8px rgba(10, 10, 10, 0.15), 0 0 0 0px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  display: block;
  border: 0;
}

@media screen and (min-width: 770px) {
  figure.image-style-align-left {
    padding: 15px;
    margin: 15px 15px 15px -7em;
    float: left;
    width: 25vw;
  }
  figure.image-style-align-right {
    padding: 15px;
    margin: 15px -7em 15px 15px;
    float: right;
    width: 25vw;
  }
}

.content pre {
  -webkit-overflow-scrolling: touch;
  background-color: #333333;
  color: #dddddd;
  overflow-x: auto;
  padding: 1.25em 1.5em;
  padding-top: 1.25em;
  padding-right: 1.5em;
  padding-bottom: 0;
  padding-left: 1.5em;
  white-space: pre;
  word-wrap: normal;
  margin: 10px 0;
}

.content code {
  background-color: gainsboro;
  padding: 2px;
}

.footer {
  background-color: transparent;
}

/*               */
/* Home Page CSS */
/*               */
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  background: transparent;
}
.home-title {
  background: rgba(54,190,170,0.65);
  padding: 10px;
  color: white;
  line-height: 1.75;
}
.sub-column {
  border-left: 5px solid #333366;
}
.home-subtitle {
  background-color: whitesmoke;
  padding: 10px;
  color: #333366;
  line-height: 2;
}

/*                */
/* Posts List CSS */
/*                */

.posts-title {
  background: rgba(54,190,170,0.65);
  padding: 10px;
  color: white;
  line-height: 2.2;
  margin-top: 20px;
}
@media screen and (min-width: 800px) {
  .grid-item {
    width: 32%;
  }
}
.grid-item {
  float: left;
  margin-bottom: 30px;
}

/*                 */
/* Single Post CSS */
/*                 */
.post-boxRide {
  max-height: 280px;
  overflow: hidden;
}
.side {
  text-align: right;
}
.post-title {
  background: rgba(54,190,170,0.65);
  padding: 10px;
  color: white;
  line-height: 1.75;
  margin-top: 20px;
}
.social-icon {
  width: 30px;
}
.post-content {
  margin: 25px 0;
}
.post-section {
  padding: 20px 0 20px 0;
}
.shorty {
  margin: 30px 0 0 0;
  border-left: 5px solid #333366;
  padding: 10px;
}
.post-subtitle {
  color: #333366;
}
@media screen and (min-width: 770px) {
  .post-content {
    padding: 0 180px 0 180px;
  }
  .footy {
    padding: 0 180px 0 180px;
  }
  .post-boxRide {
    position: relative;
    height: 280px;
    overflow: hidden;
    width: 100%;
  }
  img.main-image {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
  }
}
.listHead {
  margin-top: 35px;
  padding: 15px;
  background-color: #ededed;
  border-bottom: 5px solid #ddd;
}

/*                 */
/* Single Page CSS */
/*                 */
.leftSide {
  background-color: lightgray;
}
.page-subtitle {
  background: rgba(54,190,170,0.65);
  padding: 10px;
  color: white;
  line-height: 1.75;
  bottom: 0;
  position: absolute;
}