extends layout
block content
  section(class="hero is-large" style="background-color: rgba(54,190,170,0.65);")
    div(class="hero-body")
      div(class="container has-text-centered has-text-white")
        h1(class="is-size-1") NOPE!
        p(class="subtitle has-text-white") Nothing to see here.
        p Why don't you just go -> 
          a(href="/" class=" has-text-white") home?