each post, key in posts
  div(class="grid-item")
    div(class="card boxRide")
      div(class="card-image")
        figure(class="image")
          if post.postImage
            a(href="/post/" + post.postLink)
              img(src="https://" + xbData.xbUrl + "/v1/client/" + xbData.xbUser + "/" + xbData.xbProject + "/?type=media&request=" + post.postImage + "&appid=" + xbData.xbAppID + "&size=medium")
          else
            a(heref="/post/" + post.postLink)
              img(src="/images/codingRide.png")
      div(class="card-content")
        div(class="content")
          p
            a(href="/post/" + post.postLink class="title posts-title is-size-4-touch is-size-3-widescreen") #{post.postTitle}
            small(class="is-pulled-right") #{tools.timeToDate(post.postDate)}