extends layout
block content
  section(class="section")
    div(class="container")
      if !posts
        div(class="has-text-centered")
          i(class="fas fa-spinner fa-spin fa-lg fa-fw") 
          span(class="sr-only") Loading...
      if posts
        div( class="swiper-container boxRide")
          div(class="swiper-wrapper")
            each value, key in posts
              div(class="swiper-slide")
                figure(class="image")
                  if value.postImage
                  img(src="https://" + xbData.xbUrl + "/v1/client/" + xbData.xbUser + "/" + xbData.xbProject + "/?type=media&request=" + value.postImage + "&appid=" + xbData.xbAppID + "&size=large")
                </figure>
                div(class="is-overlay slide-overlay hero")
                  div(class="hero-body")
                    if value.postTitle
                    div(class="columns")
                      div(class="column is-5 is-offset-6")
                        a(href="/" + value.postLink)
                          if value.postTitle
                            span(class="title home-title is-size-5-touch is-size-1-widescreen") #{value.postTitle}
                    div(class="columns")
                      div(class="column is-4 is-offset-7 sub-column")
                        a(href="/" + value.postLink)
                          if value.postBrief
                            span(class="subtitle home-subtitle is-size-7-touch is-size-3-widescreen") #{value.postBrief}
          <!-- Add Pagination -->
          div(class="swiper-pagination")
        